doctype html

html(lang='en', dir='ltr')

  head
    title Meal Connect
    meta(charset='utf-8')

    link(rel='stylesheet', href='/stylesheets/vendor/normalize.css')

  body
    h1 Meal Connect

    script(type='text/javascript' src='/javascripts/vendor/jquery.min.js')
