doctype html

html(lang='en', dir='ltr')

  head
    title Meal Connect
    meta(charset='utf-8')
    script(type='text/javascript' src="//static.twilio.com/libs/twiliojs/1.1/twilio.min.js")
    link(rel='stylesheet', href='/stylesheets/vendor/normalize.css')

  body
    h1 Meal Connect

    script(type='text/javascript' src='/javascripts/vendor/jquery.min.js')
