h1, h2, h3, h4, h5, h6
  margin: 0

ul
  margin: 10px 0

a
  text-decoration: none

  &:visited
    color: green

  &:hover
    text-decoration: underline

#header
  background: #eee

#header, #content
  padding: 10px

nav
  border-top: 1px solid #ddd
  padding-top: 5px
  margin-top: 5px

label, input[type="submit"]
  display: block
  margin-top: 10px
